.btn__footer {
	position: fixed;
	bottom: 5em;
	right: 0.7em;
}

.btn-custom {
	display: flex;
	margin-bottom: 0.5rem;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	border-radius: 50%;
	padding: 1.1em 1.7em;
}

.btn-custom i {
	font-size: 1.4em;
}

.page-custom {
	padding: 20px 0;
	justify-content: center;
	display: flex;
	width: 100%;
}

.img-db {
	width: 100%;
	height: 50vh;
}

.card-img-custom {
	width: 100%;
	height: 200px;
}

.text-error {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.avatar-custom {
	width: 50vh;
	border-radius: 50%;
}

/* .avatar-custom>.img-fluid {
	border-radius: 50%;
	object-fit: fill;
	width: 100%;
} */

.text-danger {
	color: red;
	opacity: 0.7;
}

@media only screen and (max-width: 600px) {
	.btn__footer {
		position: fixed;
		bottom: 3em;
		right: 0.7em;
		z-index: 9;
	}
	.btn-custom {
		display: flex;
		justify-items: center;
		align-items: center;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		border-radius: 50%;
		padding: 1.1em 1.7em;
	}
	.btn-custom i {
		font-size: 1.4em;
	}

	.card-img-custom {
		height: 150px;
	}

}
